<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <a class="navbar-brand" href="#page-top">{{app.title | uppercase}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/courses">Courses</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/profile">Profile</a></li>
        <li class="nav-item"><a class="nav-link" (click)="signOut()">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>
