<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <h1>Job Details</h1>
        <h3>{{job.summary}}</h3>
      </div>
    </div>
    <div class="col-6 text-start">
      <div class="row"><p><!--{{employer.company_name}}--></p></div>
      <div class="row"><p><!--{{employer.name}}--></p></div>
    </div>
    <div class="col-6 text-end">
      <div class="row"><p>{{job.payment | number:'1.0-3'}} HUF/h</p></div>
    </div>
    <div class="col-6 text-start">
      <div class="row"><p>{{job.startDate | date : 'medium'}} — {{job.endDate | date : 'medium'}}</p></div>
    </div>
    <div class="col-6 text-end">
      <div class="row"><p>{{job.location}}</p></div>
    </div>
    <div class="col-12">
      <div class="row"><p>{{job.description}}</p></div>
    </div>
    <div class="col-12">
      <div class="skill" *ngFor="let skill of job.requiredSkills">{{skill}}</div>
    </div>
    <div class="col-6 text-start">
      <p *ngIf="job.status === 'SEARCHING'; else elseBlock">Open until {{job.deadline | date: 'medium'}}</p><ng-template #elseBlock><p>Closed</p></ng-template>
    </div>
  </div>
</div>

<div>{{job.employer}}</div>
<div>{{job.applicants}}</div>
<div>{{job.requiredXp}}</div>
