<app-navbar></app-navbar>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Registration</h1>
      <p class="lead text-muted"></p>
      <p>
        <a href="#" class="btn btn-primary m-4" routerLink="/registeremloyer">I'm here to work</a>
        <a href="#" class="btn btn-secondary m-4" routerLink="/registerjobseeker">I provide jobs</a>
        <button type="button" class="btn btn-link" routerLink="/landing">Back</button>
      </p>
    </div>
  </div>
</section>
